node_modules/
client/node_modules/
client/dist/
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.system_generated/
client_backup_before_brand_refinement/
client_backup_before_redesign/
*.pdf
